.header-custom {
    background-image: url(img/fondo_algo.jpg);
    padding: 0px;
    top: 0px;
    margin-top: 0px;
    background-size: cover;

}


.product-table-fb {
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}



.box-fb {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-name {
    font-size: 30 px;
    font-family: 'BIZ UDPMincho', serif;
    text-align: center;
}


.title {
    margin-top: auto;
    padding: 50px;
    font-size: 60px;
    margin-bottom: 10px;
    font-family: 'BIZ UDPMincho', serif;
    display: flex;
    justify-content: center;
}

.subtitle {
    font-size: 30px;
    padding: 10px;
    margin-top: 10px;
    font-family: 'Zeyada', cursive, sans-serif;
    display: flex;
    justify-content: center;
}

.menu-container {
    display: flex;
    justify-content: center;
}

.menu {
    color: #000000;
   
}

.linkListaMenu {
    font-family: 'Antic Slab', serif; 
    color: #000000;
    padding: 15px;
}

.itemListaMenu {
    display: inline;
    font-size: 20px;
}

.subtitle2 {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-family: 'BIZ UDPMincho', serif;
    font-size: 30px;
    font-weight: 80px;
    ;
}

.news-items {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.image-news {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}






.product-home {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: right;

}

.product-menu {
    list-style: none;
    color: #000000;
    font-family: 'Shadows Into Light', cursive, sans-serif;

}

.conteiner-title {
    padding: 40px;
    font-size: 30px;
    font-family: 'BIZ UDPMincho', serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin:10px;
}

.product-plants {
    color: #000000;
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.product-name {
    font-size: 30 px;
    font-family: 'BIZ UDPMincho', serif;
    text-align: center;

}

/* aca comienza servicos.html*/


.subtitle3 {
    display: flex;
    justify-content: flex-start;
    padding: 30px;
    font-family: 'BIZ UDPMincho', serif;
    font-size: 20px;
    font-weight: 80px;
    margin-bottom: 50px;
    margin: 30px;
}
 
.subtitle3 {
    background: rgb(0,255,106);
background: linear-gradient(58deg, rgba(0,255,106,0) 0%, rgba(186,250,173,1) 35%);
}

.conteiner-paisajismo {
    display: grid;
    grid-template-columns: 800px 500px;
    justify-content: space-around;
    margin: 30px;
}



.text2 {
    justify-content: space-around;
    padding: 15px;
    font-family: 'BIZ UDPMincho', serif;
    font-size: 20px;
}

.conteiner-huertas {
    display: grid;
    grid-template-columns: 800px 500px;
    justify-content: space-around;
    margin: 30px;
}



.conteiner-blog {

    display: grid;
    grid-template-columns: 500px 800px;
    justify-content: space-around;
    margin: 30px;
    margin-top: 20px;
}


.text3 {
    justify-content: space-between;
    padding: 10px;
    font-family: 'BIZ UDPMincho', serif;
    font-size: 18px;
    text-align: justify;
}

.conteiner-tips {
    display: grid;
    grid-template-columns: 600px 600px;
    justify-content: space-around;
    margin: 10px;
}

.text4 {
    display: grid;
    grid-template-columns: 400px 500px;
    padding: 10px;
    font-family: 'BIZ UDPMincho', serif;
    font-size: 18px;
    text-align: justify;

}

.title-aboutus{
    font-family: 'Zeyada', cursive, sans-serif;
    size: 80px;
    text-align: center;


}


.conteiner-video {
    padding: 10px;
}



.footer-custom {
    display: flexbox;
    flex-direction: row;
    text-align: center;
    padding: 3px;
    margin: 0px;
    background-color: #baf9ad;
    color: #19470d;
    font-family: 'BIZ UDPMincho', serif;
    font-size: 12px;

}

.footer-custom {
    background: rgb(0,255,106);
background: linear-gradient(58deg, rgba(0,255,106,0) 0%, rgba(186,250,173,1) 35%);
}

.conteiner-footer {
    display: inline;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0px;
}

.bootom-whatsapp {
    justify-content: right;
    background-color: #baf9ad;
}